.imageflottante{
	float:left;
}


#imageflottante2{
	float:left;
	padding-left: 45px;
}
header {
	border:  3px solid black;
	box-shadow :6px 6px 6px black;
}

header #logo{
	width:100%;
	height: 50px;
	position:absolute;
	top:10;
	left:10 ;
	float:left;
}

#slogan{
	color:white;
	text-align:left;
	font-size: 1.3em;
	font-weight: bold;
	color:black;
	padding-left: 15px;
}

body{
	/*    background: url("ks.jpg") fixed no-repeat top  left;*/
	background-color: #2996C2; /* #9FDAED ou #2996C2*/
}

h1 {
	color:white;
	text-align:center;
	margin-bottom:30px;
	text-shadow: 1px 1px Opx black;
	font-size: 3em;
	font-weight: bold;

}

h2 {
	color:white;
	text-align:center;
	margin-bottom:30px;
	text-shadow: 1px 1px Opx black;
	font-size: 2em;
	font-weight: bold;
}

.taille{
	font-size:18px;
	font-weight: bold;
	color: white;
}

.case{
	border-width:4px;
	border-style:solid;
	border-color:black;
	border-collapse: collapse;
	/*padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;*/
}
table{

	border-collapse: collapse; 
}

#legend{
	font-size:30px;
	font-weight: bold;
	color: black;
	width:300px;
	margin-left:30%;
}

#t1 {
	width:300px;
	margin-left:55%;
}

tr{
	height:60px;

	
}





/*tr:first-child td { //premiere colonne de chaque ligne
	padding-top:20px;
}
*/

/*input[type="text"]{ //pour les input de type text
	width:100%;
}
*/
/*
p,a{ //pour paragraph et lien
	color:black;
} 
*/