h1 {
	color:#FF4500;
	background-color:#4169E1;

	text-align:center;
	margin-bottom:30px;
	text-shadow: 1px 1px Opx black;
}
#t1 {
	width:300px;
	margin-left:30%;
}
tr{
	height:50px;
}
tr:first-child td { //premiere colonne de chaque ligne
	padding-top:20px;
}
input[type="text"]{ //pour les input de type text
	width:100%;
}
p,a{ //pour paragraph et lien
	color:black;
} 