
#left{
	display : inline-block;
	width:20%;
	height:20px
	vertical-align:top;
}
#main {
	display: inline-block;
	width:70%;
	vertical-align: top;
}
#new_message {
	margin-top: 30px;
	width:90%
    background_color: #ABF3E9;
}